os:
  - linux
  - osx
sudo: required
language: node_js
node_js:
  - '6'
  - '8'
  - '10'
  - '12'
before_install:
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ln -s `which node` `which node`js; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then which nodejs || which node; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CC=clang++; export CXX=clang++; export CXXFLAGS=-std=c++11; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink pkg-config; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.9; CC=gcc-4.9; fi'
  - npm install -g node-gyp
install:
  - npm install --unsafe-perm
before_script:
  - export NPMVERSION=$(echo "$($(which npm) -v)"|cut -c1)
  - 'if [[ $NPMVERSION == 5 ]]; then npm install -g npm@5; fi'
  - npm -v
after_success:
  - .travis/wiki.sh
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
env:
  global:
    - secure: >-
        jYhOGVA5M7ZP9n4ccCr5J9DiODgRyVnKqAqyIE7+TA0jBg1jSPyWydoNuG02htIiNRMp4se+t8mFWIG3QqiFtoJbOdBt3yZYhVdfkx+4JyQpZAZq790C3jGdTSM/sVdaw2D+5Uvhqb4y7YOQ7SUYsRb5IH0NN2ZnOIZuGiOq8eVZ+np3gYNgsJwRWxrOrUi8lIA7APMe8esmOuTmKuFNfxhVWu98WegztBxnQmfCfwUl0OxgXxpdoElIQcbEV2zkJPOowZSioQvE5dxgIuf+leBeWdDm6g7bDmV84CkXmHlWkJoyyz1DYM7XFib4vSX9nJ2HZ2U7/wtbBd9/92JPoClvmiagb4wtICVO98LMXdayF3kRO/h7uH9HTHY1Mo98HHhxWMyfXVh6cWkDPYutSkFBG+a/tQB1jvbHq8j6O98VNpkLVqlbBIV8i0+uzoWOyaCVjZgcc7PtzfuWeNYB4c5cTu+HuofKwx3aBGJvnIukIeD/BJjnB76d4hfm++K6bDjKU61Gd7rY0/C1Ik8HsKxDdGvM5Ro6XARugoLTgym9Xk/ByU0AYrD05F+JzC2T+Hv1xACCq50HtsDAflpc9T4kLV3towQ69bE+N5kMfX5/X4rnVCkeerb+5X3EZjjslcUbwT4REahmihXR+8Mzz6f3O7ATUUA0BclD773ZFFY=
script:
  - 'npm run test:package'
  - 'npm run test:unit'
  - 'npm run test:integration'
